{% extends 'base.html' %}




{% block content %}

    <main class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">
                <form action="/login/" method="post" class="card card-body">
                    {% csrf_token %} 
                    
                    <h1 class="text-center">Signin</h1>
                    <!-- Metodo= "post" sirve para ocultar el usuario y contrasenia de la url del navegador -->
                    {{error}}
                    <!-- Esta sintaxis extrania viene desde yinya que es el motor de plantilla de django -->
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="write your username">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="write your password">
                    </div>
                    <button class="btn btn-primary">
                        Login
                    </button>
                </form>
            </section>
        </div>
    </main>

{% endblock %}