{% extends 'base.html' %}


{% block content %}
   <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django app</h1>
            <p>Lorem ipsum dolor sit amet consectetu r adipisicing elit. Minima hic nihil excepturi laborum, repudiandae amet veniam. Dolor, hic nulla! Esse similique necessitatibus voluptatibus! Minima maxime quam iure ratione quia tenetur consequuntur odio unde, architecto ab, qui quidem natus quaerat pariatur hic! Delectus, dolorum. Sequi rerum excepturi possimus alias dignissimos ea eum reprehenderit deleniti laudantium fugit, nesciunt totam soluta eius nulla? Asperiores recusandae eius repudiandae quas magni fugiat ipsam porro ipsum blanditiis, dignissimos impedit eligendi laboriosam ipsa fugit sint, fuga beatae voluptas deleniti assumenda repellendus maxime nihil. Velit culpa voluptate distinctio officia autem quasi accusantium ratione modi, minus quo debitis doloribus.</p>
            <div class="text-center">
                <a class="btn btn-primary" href="/login">
                    Signin
                </a>
                <a class="btn btn-primary" href="/signup">
                    Signup
                </a>
            </div>
        </section>
   </main>
{% endblock %}